collect-eapi/src/main/mule/collected-order.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:websocket="http://www.mulesoft.org/schema/mule/websocket"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/websocket http://www.mulesoft.org/schema/mule/websocket/current/mule-websocket.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="collected-order-flow" doc:id="869c0a40-b729-4097-ace3-2fca069cf978" >
		<ee:transform doc:name="Collected Order" doc:id="e5b4a189-ad8a-43ca-83c7-3ca7dd93fff2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: payload.order,
	photo: {
		fileName: payload.fileName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PATCH" doc:name="Collected Order" doc:id="29a493c3-9799-4191-a3ef-3ef0ce5a5221" config-ref="Order-PAPI_Request_configuration" path="/orders/{id}" sendCorrelationId="ALWAYS">
			<http:headers ><![CDATA[#[{
	client_id: Mule::p('secure::mule.clientId'),
	client_secret: Mule::p('secure::mule.clientSecret')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	id: payload.id
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
